:root{
    --softgrey: #3a546d;
    --softgreen: #1abc9c;
    --grey: #2c3e50;
}

body{
    color: white;
}

header{
    background-color: var(--grey);
}

img{
    width: 100%;
    display: block;
}

.social{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    line-height: 40px;
}

.border_round{
    border-radius: 10px;
}

.bg_softgreen{
    background-color: var(--softgreen);
}

.bg_softgrey{
    background-color: var(--softgrey);
}

.bg_grey{
    background-color: var(--grey);
}

.bg_white{
    background-color: white;
}

.text_grey{
    color: var(--grey);
}

.text_white{
    color: white;
}

.text_softgreen{
    color: var(--softgreen);
}

.lines{
    height: 3px;
    border-radius: 40px;
}

.relative{
    position: relative;
}

.overlay{
    width: calc(100% - 24px);
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    transition: .5s;
    background-color: var(--softgreen);
}

.relative:hover .overlay{
    opacity: 0.5;
}

.plus{
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.relative:hover .plus{
    opacity: 1;
}